# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# Django
/db.sqlite3
/staticfiles/
/media/
/*.log

# Unit test / coverage
htmlcov/
.coverage*
.pytest_cache/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
